.github {
  max-width: 600px;
  text-align: center;
  display: block;
  margin: 0% auto;
  font-size: 11px;
}

#github-link,
.kelly-link,
.netlify-link {
  text-decoration: none;
  font-size: 11px;
  color: black;
  text-align: center;
  transition: all 200ms ease-in-out;
}

#github-link:hover,
.kelly-link-link:hover,
.netlify-link-link:hover {
  color: purple;
}
